/** 
 * Paquet de definition
 */
package sopra.immobilier.pure.${domain};

import sopra.immobilier.navigation.${domain}.${fonction}Function;
import sopra.immobilier.navigation.${domain}.${fonction}_${description}Function;
import sopra.immobilier.service.business.ServiceError;
import sopra.immobilier.service.business.ServiceResponse;
import sopra.navigation.AbstractFunctionCallback;
import sopra.navigation.NavigationException;
import sopra.navigation.connectors.pure.AbstractPureJavaProgram;


/**
 * Description :
 * Proxy-function pour ${fonction}.
 *
 * <TABLE>
 *   <TR>
 *     <TD><B>Attributs SVN :</B></TD>
 *     <TD>&nbsp;</TD>
 *   </TR>
 *   <TR>
 *     <TD><I>Nom du fichier :</I></TD>
 *     <TD>$HeadURL:   O:/Kernel5 Livraison/archives/kernel/tools/eclipse/config/ArchitectureImmobilierCodeTemplates.xml-arc  $</TD>
 *   </TR>
 *   <TR>
 *     <TD><I>Modifie le :</I></TD>
 *     <TD>$Date: 2012/06/23 08:01:17 $</TD>
 *   </TR>
 * </TABLE>
 *
 * @version : $Revision: 1.1 $
 * @author  : SOPRA Group - $Author: pablo $author  $
 *
 */
public class ${fonction}_${description} extends
                                           AbstractPureJavaProgram<${fonction}_${description}Function> {
  
  /** Version extraite du gestionnaire de configuration */
  @SuppressWarnings("hiding")
  public static final String CLASS_VERSION = "$Revision: 1.1 $";
  
  

  /**
   * @see sopra.navigation.connectors.pure.AbstractPureJavaProgram#exec()
   */
  @Override
  protected void exec() throws NavigationException {
    ${fonction}_${description}Function currentFunctionCall = getCurrentFunctionCall();
    
    //
    // Preparation de l'appel de la fonction port‚e
    final ${fonction}Function targetFunctionCall = new ${fonction}Function();
    
#foreach($variable in $variables) 
    targetFunctionCall.setIn${variable}("");
#end
#foreach($param in $params) 
	#set( $paramUp = ${param.toUpperCase()} )
	#set( $paramMix = ${paramUp.charAt(0)} + ${param.substring(1)})
    targetFunctionCall.setIn${paramMix}("");
#end
    
     invoke(targetFunctionCall, new AbstractFunctionCallback<${fonction}Function>() {
      
      /*
       * (non-Javadoc)
       * @see sopra.navigation.FunctionReturnCallback\#returningFrom(sopra.navigation.AbstractFunctionCall)
       */
      @Override
      public void returningFrom(final ${fonction}Function functionCall) throws NavigationException {
        ${fonction}_${description}.this.retourInvocation${fonction}(functionCall);
      }
    });
  }
  
  /**
   * @param functionCall Contrat de Navigation
   * @throws NavigationException NavigationException 
   */
  
  public void retourInvocation${fonction}(final ${fonction}Function functionCall) throws NavigationException {
    if (isLoggingDebug()) {
      logDebug(functionCall.toString());
    }
    returnFromFunction();
  }
  
  /**
   * Lance une exception si la reponse metier comprend des erreurs.
   * 
   * @param response la reponse metier
   * @throws NavigationException une exception contenant les messages d'erreurs, le cas echeant.
   */
  public void throwNavigationExceptionIfServiceErrors(final ServiceResponse response)
                                                                                     throws NavigationException {
    if (response.hasErrors()) {
      boolean first = true;
      final StringBuilder errorMessages = new StringBuilder();
      for (final ServiceError error : response.getErrors()) {
        if (first) {
          first = false;
        } else {
          errorMessages.append(" ; ");
        }
        errorMessages.append(error.getMessage());
      }
      final NavigationException nex = new NavigationException("Service has returned service errors : " +
                                                              errorMessages.toString());
      if (isLoggingError()) {
        logError(nex.getMessage(), nex);
      }
      throw nex;
    }
  }
}