Insert("ncad[Enter]")if ( Receive (80,"EXIT" ) <> 1 ) Then GoTo ErreurInsert("${user}[NewLine]")Insert("${password}[Enter]")if ( Receive (107,"Menu" ) <> 1 ) Then GoTo ErreurInsert("${cicsMenuOption}[Enter]")if ( Receive (194,"******" ) <> 1 ) Then GoTo ErreurInsert("[Clear]")if ( Receive (80,"5C" ) <> 1 ) Then GoTo ErreurInsert("cesn[Enter]")if ( Receive (80,"V${version}" ) <> 1 ) Then GoTo ErreurInsert("${user}[NewLine]")Insert("${password}[Enter]")if ( Receive (80,"ENU" ) <> 1 ) Then GoTo ErreurInsert("d998[Enter]")if ( Receive (80,"Version" ) <> 1 ) Then GoTo ErreurInsert("${cicsEnvironement}[Enter]")if ( Receive (80,"8${version}" ) <> 1 ) Then GoTo ErreurInsert("[PF9]")Insert("kqig[Enter]")Exit ()Erreur:MsgBox ( "Erreur !" )