#foreach($table in $tables)
;__________________________________________________________________________
ENTRY LOC_MAJ_${table}
	clear/e "${table}"
	GLGPR_COD.${table}/init = GLGPR_COD.GLGEL
	GLGPR_DTD.${table}/init = $loc_prev_glgpr_dtd$
	retrieve/e "${table}"
	if($status < 0)
		clear/e "${table}"
		return(0)
	endif
	setocc "${table}", 1
	while ($status >= 0 & GLGPR_COD.${table} != "")
		GLGPR_DTD.${table} = GLGPR_DTD.GLGEL
		$loc_nbmaj_${table.toLowerCase()}$ = $loc_nbmaj_${table.toLowerCase()}$ + 1
		discard "${table}"
	endwhile
	return(0)
END

#end

